<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All categories</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <%- include('navbar') %>
   <h1>Game Categories</h1>

   <ul>
      <% categories.forEach(category => { %>
        <li>
          <h3><%= category.name %></h3>
          <p><%= category.description %></p>
          <button type="button" onclick="location.href='/categories/<%= category.id %>'">View more</button>
        </li>
      <% }); %>
    </ul>
    <button type="button" onclick="location.href='/categories/create'">New Category</button>

    
</body>
</html>