<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

    <%- include('navbar') %>

    <div class="inputForm">
        <form action="/categories/create" method="post">
        <div class="mb-3 inputField">
            <label for="exampleInputEmail1" class="form-label"><b>Name</b></label>
            <input type="email" class="form-control inp" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 inputField">
            <label for="exampleInputPassword1" class="form-label"><b>Description</b></label>
            <input type="password" class="form-control inp" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary butt">Submit</button>
        </form>
    </div>
    
</body>
</html>