<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/categories/create" method="post">
        <label for="categoryName">Name</label>
        <input type="text" id="categoryName" name="categoryName">
        <label for="categoryDes">Description</label>
        <input type="text" id="categoryDes" name="categoryDes">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>