<header class="navbar">
    <div class="navName">
        <h2>Book Inventory</h2>
    </div>
    <div class="nav">
        <div class="navElements">
            <a href="/" class="navItems">Home</a>
            <a href="/categories" class="navItems">Categories</a>
            <a href="/items" class="navItems">Items</a>
            </div>
        </div>
</header>